/* whole page css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*Details */

h1 ,p  {
  text-align: center;
  margin: 40px;
}

p{
    font-size: 25px;
}

#practice {
  display: flex;
}
.lesson {
  margin: 5% 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #222;
  flex: 1 0 auto;
}

.lesson span {
  color: #ccc;
  font-size: 50px;
  padding-left: 5%;
  padding-top: 30px;
}
.lesson-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5%;
}

a {
  background-color: beige;
  padding: 15px 20px;
  margin: 15px;
  border-radius: 3%;
}
